.MyOffers-island
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MyOffers-whole
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    align-self: center;

    border-radius: 40px;
    padding: 1%;
}