.styled-table
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    border-radius: 20px;
    border-color:  #009879;
}

.styled-table th,
.styled-table td {
    padding: 6px 15px;
}


.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tr:nth-child(1) {
    background-color: #00ffcc;
}

.styled-table-click-Pending
{
    text-align: center;
    vertical-align: middle;
    background-color: #00eeff;
    border-radius: 20px;
    border-collapse: collapse;
}

.styled-table-click-OfferSelected
{
    text-align: center;
    vertical-align: middle;
    background-color: #fbff00;
    border-radius: 20px;
    border-collapse: collapse;
}